body {
    margin: 0;
    height: 100%;
    position: relative;
}

body > * {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif !important;
}

.ui.stackable.menu .item {
    width: auto !important;
}

.ui.secondary.pointing.menu .item {
    align-self: center;
}
button{
    cursor: pointer;
}